@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    text-align: center;
    font-size: 2rem;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #ecf0f1;
    padding: .7rem;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    max-width: 80vw;
    margin: 1rem auto;
}
h2 {
    margin-left: 1rem;
    font-size: 1.1rem;
    background-color: #485460;
    color: #ecf0f1;
    padding: .4rem;
    text-transform: capitalize;
    border-radius: 10px;
    margin-top: 1rem;
    max-width: 30vw;
    text-align: center;
}


.Link {
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #c8d6e5;
    margin: 1rem;
    padding: .7rem 1.5rem;
    min-width: 7rem;
    transition: all ease-in-out 300ms ;
    border: 1px solid ;
    border-radius: .3rem;
}
.Link:hover {
    transform: scale(1.1);
    transition: all ease-in-out 300ms;
    border: 1px solid #fff;
}


li{
    margin: 1rem 0 0 1rem;
    
}
